examples/basic/secrets.tfvars
examples/basic/terraform.tfstate
examples/basic/terraform.tfstate.backup
.terraform/
examples/basic/.terraform/
examples/basic/tutorial_kp
examples/basic/theplan
examples/basic/theplan2